[dir="rtl"] {
    html,
    body {
        text-align: right;
        direction: right;
    }
}
[dir="ltr"] {
    html,
    body {
        text-align: left;
        direction: ltr;
    }
}
*,
html,
body {
    font-family: "Cairo-Regular";
}
:root {
    font-size: 62.5%;
    body {
        margin: 0;
        font-family: "Cairo-Regular";
        font-size: 1.6rem;
        direction: rtl;
    }
}
body,
html {
    background-color: #e7e7e7;
}

.page-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 30px 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    h1 {
        margin: 0;
        font-family: "Cairo-Medium";
    }
}

.filter-container {
    background: #fff;
    padding-top: 28px;
    padding-bottom: 28px;

    .grid-3 {
        gap: 24px !important;
    }

    padding-inline-start: 23px;
    padding-inline-end: 23px;

    input,
    select {
        width: 100%;
        background-color: #fff;
    }
}

.mat-expansion-panel-header {
    height: 75px;
}
.mat-accordion .mat-expansion-panel {
    margin-bottom: 15px;
    box-shadow: 0 14px 24px #6c6c6c1a;
}

.swal2-container.swal2-center > .swal2-popup {
    height: 200px !important;
}
