@font-face {
    font-family: 'Cairo-Black';
    src: url('../../../assets/font/Cairo-Black.ttf');
}

@font-face {
    font-family: 'Cairo-Bold';
    src: url('../../../assets/font/Cairo-Bold.ttf');
}

@font-face {
    font-family: 'Cairo-ExtraBold';
    src: url('../../../assets/font/Cairo-ExtraBold.ttf');
}

@font-face {
    font-family: 'Cairo-Medium';
    src: url('../../../assets/font/Cairo-Medium.ttf');
}

@font-face {
    font-family: 'Cairo-Regular';
    src: url('../../../assets/font/Cairo-Regular.ttf');
}

@font-face {
    font-family: 'Cairo-Light';
    src: url('../../../assets/font/Cairo-Light.ttf');
}