.mat-menu-content:not(:empty) {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
button.mat-menu-item ,a.mat-menu-item {
  width: 100%;
  text-align: center !important;
  a:hover {

    color: rgba(0,0,0,.87) !important;
  }
  i {
    margin-inline-end: 10px !important;
  }
}
.mat-menu-item:hover:not([disabled]), .mat-menu-item.cdk-program-focused:not([disabled]), .mat-menu-item.cdk-keyboard-focused:not([disabled]), .mat-menu-item-highlighted:not([disabled]) {
  color: rgba(0,0,0,.87) !important;
}