.pagination {
  width: 100% !important;
  margin-top: 40px;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  justify-content: space-between !important;
  align-items: center !important;

  ul {
    li {
      cursor: pointer !important;
      display: inline-flex !important;
      justify-content: center !important;
      align-items: center !important;
      width: 34px;
      height: 44px;
      max-height: 44px;
      vertical-align: middle !important;
    }

    .dots-pagination {
      width: auto !important;
      height: 44px !important;
      align-items: flex-end !important;
      background-color: transparent !important;
    }

    li:last-of-type {
      width: 34px !important;
      height: 44px !important;
      max-height: 44px !important;
    }
  }
}

.btn-pagination {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .pagination {
    display: block !important;
    text-align: center !important;
  }
}

.active-pagination {
  color: #ffffff;
  background: rgba(11, 104, 94, 0.64);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(13.2893px) !important;
  backdrop-filter: blur(13.2893px) !important;
}

button:disabled,
button[disabled] {
  cursor: not-allowed !important;
}
ul,ol{
  padding: 0px;
  margin: 0px;
}