<div class="px-20 card-wrap">
  <!-- <app-head-nav></app-head-nav> -->
  <div class="card-custom">
    <div class="card-head">
      <h2 class="title">تفاصيل التصنيف العالمي</h2>
    </div>

    <div class="card-content">
      <div class="row">
        <div class="col-md-4 mb-5 mb-5">
          <div class="list-item">
            <h2 class="title">المملكة</h2>
            <span class="desc">
              {{ detailsData?.kingdom }}
            </span>
          </div>
        </div>
        <div class="col-md-4 mb-5 mb-5">
          <div class="list-item">
            <h2 class="title">النطاق</h2>
            <span class="desc">
              {{ detailsData?.domain }}
            </span>
          </div>
        </div>
        <div class="col-md-4 mb-5 mb-5">
          <div class="list-item">
            <h2 class="title">شعبة</h2>
            <span class="desc">
              {{ detailsData?.phylum }}
            </span>
          </div>
        </div>

        <div class="col-md-4 mb-5 mb-5">
          <div class="list-item">
            <h2 class="title">تحت شعبة</h2>
            <span class="desc">
              {{ detailsData?.subphylum }}
            </span>
          </div>
        </div>

        <div class="col-md-4 mb-5 mb-5">
          <div class="list-item">
            <h2 class="title">فوق صف</h2>
            <span class="desc"> {{ detailsData?.superclass }} </span>
          </div>
        </div>
        <div class="col-md-4 mb-5 mb-5">
          <div class="list-item">
            <h2 class="title">صف</h2>
            <span class="desc"> {{ detailsData?.class }} </span>
          </div>
        </div>

        <div class="col-md-4 mb-5 mb-5">
          <div class="list-item">
            <h2 class="title">رتبة</h2>
            <span class="desc"> {{ detailsData?.order }}</span>
          </div>
        </div>
        <div class="col-md-4 mb-5 mb-5">
          <div class="list-item">
            <h2 class="title">فصيلة</h2>
            <span class="desc">{{ detailsData?.family }}</span>
          </div>
        </div>
        <div class="col-md-4 mb-5 mb-5">
          <div class="list-item">
            <h2 class="title">جنس</h2>
            <span class="desc">{{ detailsData.genus }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
