<div class="px-20 card-wrap">
    <!-- <app-head-nav></app-head-nav> -->
<div class="card-custom">
   <div class="card-head">
       <h2 class="title">
          تفاصيل  
          القيمة الغذائية للعناصر الموجودة في المحصول
          
       </h2>
   </div>

   <div class="card-content">
       <div class="row">
        <div class=" col-md-4">
            <div class="list-item">
                <h2 class="title">
                    السعرات الحرارية
                </h2>
                <span class="desc">
                    {{ detailsData?.calories }}
                </span>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="list-item">
                <h2 class="title">الدهون الكلية
                                    </h2>
                <span class="desc">
                    {{ detailsData?.total_fat }}
                </span>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="list-item">
                <h2 class="title">
                    الدهون المشبعة
                                </h2>
                <span class="desc">
                    {{ detailsData?.sat_fat }}
                </span>
            </div>
        </div>
        
        <div class=" col-md-4">
            <div class="list-item">
                <h2 class="title">
                    الكوليسترول
                </h2>
                <span class="desc">
                    {{ detailsData?.cholesterol }}
                </span>
            </div>
        </div>
     
        <div class=" col-md-4">
            <div class="list-item">
                <h2 class="title">
                    الصوديوم
                                </h2>
                <span class="desc">                
                              {{ detailsData?.na }}
                </span>
            </div>
        </div>
           <div class=" col-md-4">
               <div class="list-item">
                   <h2 class="title">
                    البوتاسيوم
                   </h2>
                   <span class="desc">        
                                        {{ detailsData?.k }}
                   </span>
               </div>
           </div>
           
        
           
           <div class=" col-md-4">
            <div class="list-item">
                <h2 class="title"> 
                    الكربوهيدرات
                </h2>
                <span class="desc"> {{ detailsData?.total_carb }}</span>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="list-item">
                <h2 class="title"> الألياف الغذائية
                                    </h2>
                <span class="desc">{{ detailsData?.dietary_fiber }}</span>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="list-item">
                <h2 class="title"> 
                    السكريات
                </h2>
                <span class="desc">{{ detailsData.sugar }}</span>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="list-item">
                <h2 class="title"> 
                    البروتين
                </h2>
                <span class="desc">{{ detailsData.protein }}</span>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="list-item">
                <h2 class="title"> 
                    فيتامين ج
                </h2>
                <span class="desc">{{ detailsData.v_c }}</span>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="list-item">
                <h2 class="title"> 
                    الحديد
                </h2>
                <span class="desc">{{ detailsData.fe }}</span>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="list-item">
                <h2 class="title"> 
                    فيتامين ب6
                </h2>
                <span class="desc">{{ detailsData.v_b6 }}</span>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="list-item">
                <h2 class="title"> 
                    الماغنسيوم
                </h2>
                <span class="desc">{{ detailsData.mg }}</span>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="list-item">
                <h2 class="title"> 
                    الكالسيوم
                </h2>
                <span class="desc">{{ detailsData.ca }}</span>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="list-item">
                <h2 class="title"> 
                    فيتامين د
                </h2>
                <span class="desc">{{ detailsData.v_d }}</span>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="list-item">
                <h2 class="title"> 
                    كوبالامين
                </h2>
                <span class="desc">{{ detailsData.cobalamin }}</span>
            </div>
        </div>


       </div>
   </div>
</div>
</div>