<div class="px-20 card-wrap">
  <!-- <app-head-nav></app-head-nav> -->
  <div class="card-custom">
    <div class="card-head">
      <h2 class="title">تفاصيل المزرعه</h2>
    </div>
    <div class="card-content">
      <div class="row">
        <div class="col-md-12" *ngIf="detailsData?.farmed_type_photo">
          <div class="list-item">
            <h2 class="title">صورة المحصول</h2>
            <div class="img">
              <img [src]="detailsData?.farmed_type_photo" alt="" />
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-5">
          <div class="list-item">
            <h2 class="title">حقيقية</h2>
            <span class="desc">
              {{ detailsData?.real }}
            </span>
          </div>
        </div>

        <div class="col-md-4 mb-5">
          <div class="list-item">
            <h2 class="title">اسم المحصول</h2>
            <span class="desc">
              {{ detailsData?.farmed_type_name?.ar }}
            </span>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="list-item">
            <h2 class="title">التقيم </h2>
            <span class="desc">
              {{ detailsData?.ladybug_rating }}
            </span>
          </div>
        </div>
        
        <div class="col-md-4 mt-5">
          <div class="list-item">
            <h2 class="title">تاريخ الزراعة</h2>
            <span class="desc">
              {{ detailsData?.farming_date }}
            </span>
          </div>
        </div>

        <div class="col-md-4 mt-5">
          <div class="list-item">
            <h2 class="title">المساحة</h2>
            <span class="desc">
              {{ detailsData?.area }}
            </span>
          </div>
        </div>

        <div class="col-md-4 mt-5">
          <div class="list-item">
            <h2 class="title">وحدة المساحة</h2>
            <span class="desc">
              {{ detailsData?.area_unit?.ar }}
            </span>
          </div>
        </div>

        <div class="col-md-4 mt-5">
          <div class="list-item">
            <h2 class="title">عدد المحصول</h2>
            <span class="desc">
              {{ detailsData?.farmed_number }}
            </span>
          </div>
        </div>

        <div class="col-md-4 mt-5">
          <div class="list-item">
            <h2 class="title">الملاءمة</h2>
            <span class="desc">
              {{ detailsData?.farming_compatibility?.messages }}
            </span>
          </div>
        </div>

        <div class="col-md-4 mb-5">
          <div class="list-item">
            <h2 class="title">مصادر الأسمدة الكيماوية</h2>
            <span class="desc">
              {{ detailsData?.chemical_fertilizer_sources }}
            </span>
          </div>
        </div>

        <div class="col-md-4 mb-5">
          <div class="list-item">
            <h2 class="title">مصادر الشتلات</h2>
            <span class="desc">
              {{ detailsData?.seedling_sources }}
            </span>
          </div>
        </div>

        <div class="col-md-4 mb-5">
          <div class="list-item">
            <h2 class="title">دائرة عرض</h2>
            <span class="desc">
              {{ detailsData?.location?.latitude }}
            </span>
          </div>
        </div>

        <div class="col-md-4 mb-5">
          <div class="list-item">
            <h2 class="title">خط طول</h2>
            <span class="desc">
              {{ detailsData?.location?.longitude }}
            </span>
          </div>
        </div>

        <div class="col-md-4 mb-5">
          <div class="list-item">
            <h2 class="title">الدولة</h2>
            <span class="desc">
              {{ detailsData?.location?.country }}
            </span>
          </div>
        </div>

        <div class="col-md-4 mb-5">
          <div class="list-item">
            <h2 class="title">المدينة</h2>
            <span class="desc">
              {{ detailsData?.location?.city }}
            </span>
          </div>
        </div>

        <div class="col-md-4 mb-5">
          <div class="list-item">
            <h2 class="title">الحي</h2>
            <span class="desc">
              {{ detailsData?.location?.district }}
            </span>
          </div>
        </div>

        <div class="col-md-4 mb-5">
          <div class="list-item">
            <h2 class="title">الرقم البريدي</h2>
            <span class="desc">
              {{ detailsData?.location?.postal }}
            </span>
          </div>
        </div>

        <div class="col-md-4 mb-5">
          <div class="list-item">
            <h2 class="title">التفاصيل</h2>
            <span class="desc">
              {{ detailsData?.location?.details }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
