<div class="px-20 card-wrap">
  <!-- <app-head-nav></app-head-nav> -->
  <div class="card-custom">
    <div class="card-head">
      <h2 class="title">تفاصيل الاستشاري</h2>
    </div>

    <div class="row">
      <div class="col-md-12 mt-5">
        <h1>خطط الاستشارة الميدانية</h1>
        <ol>
          <li
            *ngFor="let item of detailsData?.cons?.offline_consultancy_plans"
            class="one-row"
          >
            <div class="list-item">
              <h2 class="title">العنوان</h2>
              <span class="desc mb-3">
                {{ item?.address }}
              </span>
            </div>
            <div class="list-item">
              <h2 class="title">التاريخ</h2>
              <span class="desc mb-3">
                {{ item?.date | date : "dd-MM-YYYY" }}
              </span>
            </div>
            <div class="list-item">
              <h2 class="title">سعر الزيارة</h2>
              <span class="desc mb-3">
                {{ item?.visit_price }}
              </span>
            </div>
            <div class="list-item">
              <h2 class="title">سعر التعاقد لمدة عام</h2>
              <span class="desc mb-3">
                {{ item?.year_price }}
              </span>
            </div>
            <div class="list-item">
              <h2 class="title">سعر التعاقد لعامين</h2>
              <span class="desc mb-3">
                {{ item?.two_year_price }}
              </span>
            </div>
          </li>
        </ol>
      </div>

      <div class="col-md-4 mt-5">
        <div class="list-item">
          <h2 class="title">سنوات الخبرة</h2>
          <span class="desc">
            {{ detailsData?.cons.experience }}
          </span>
        </div>
      </div>

      <div class="col-md-4 mt-5">
        <div class="list-item">
          <h2 class="title">يجيد العربية</h2>
          <span class="desc">
            {{ detailsData?.cons.ar ? "نعم" : "لا" }}
          </span>
        </div>
      </div>

      <div class="col-md-4 mt-5">
        <div class="list-item">
          <h2 class="title">يجيد الانجليزية</h2>
          <span class="desc">
            {{ detailsData?.cons.en ? "نعم" : "لا" }}
          </span>
        </div>
      </div>

      <div class="col-md-4 mt-5">
        <div class="list-item">
          <h2 class="title">سعر الاستشارة اونلاين</h2>
          <span class="desc">
            {{ detailsData?.cons.consultancy_price }}
          </span>
        </div>
      </div>

      <div class="col-md-4 mt-5">
        <div class="list-item">
          <h2 class="title">سعر التعاقد لمدة شهر اونلاين</h2>
          <span class="desc">
            {{ detailsData?.cons.month_consultancy_price }}
          </span>
        </div>
      </div>

      <div class="col-md-4 mt-5">
        <div class="list-item">
          <h2 class="title">سعر التعاقد لعام اونلاين</h2>
          <span class="desc">
            {{ detailsData?.cons.year_consultancy_price }}
          </span>
        </div>
      </div>

      <div class="col-md-4 mt-5">
        <div class="list-item">
          <h2 class="title">هل يقدم استشارة مجانية؟</h2>
          <span class="desc">
            {{ detailsData?.cons.free_consultancy ? "نعم" : "لا" }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
