.mr-auto{
    margin-inline-start: auto;
}
.removeEle{
   
    background-color: #eb2a08;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -8px;
    inset-inline-end: 0px;
}