.nav-link{
    cursor: pointer;
}
.sub-items{
    li{
        margin-bottom: 10px;

    }
    .nav-link{
        margin-inline-start: 20px;
        display: block;
        .text{
            span{
                display: inline-block !important;
                margin-inline-end: 10px;
            }
        }
    }
}