<aside class="side-menu">
  <a class="logo">لادي بج</a>
  <!-- End side-menu__head -->
  <div class="side-menu__content">
    <ul class="nav-list">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          [routerLink]="['/admin/generic-user']"
          routerLinkActive="router-link-active"
        >
          <span class="icon">
            <i class="fa-light fa-user-secret"></i>
          </span>
          <span class="text">المشرفين</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="testes"
          routerLinkActive="active"
          [routerLink]="['/admin/roles']"
          routerLinkActive="router-link-active"
        >
          <span class="icon">
            <i class="fa-thin fa-hand-sparkles"></i>
          </span>
          <span class="text">الادوار</span>
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          [routerLink]="['/admin/permissions']"
        >
          <span class="icon">
            <i class="fa-brands fa-periscope"></i>
          </span>
          <span class="text">الصلاحيات</span>
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          [routerLink]="['/admin/Consultants']"
        >
          <span class="icon">
            <i class="fa-duotone fa-user-tie"></i>
          </span>
          <span class="text">الاستشاريين</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="toggle('farmer')">
          <span class="icon">
            <i class="fa-solid fa-wheat-awn"></i>
          </span>
          <span
            class="text w-100 d-flex align-items-center justify-content-between"
          >
            المزارع
            <i class="fa-regular fa-chevron-left"></i>
          </span>
        </a>
      </li>

      <li class="nav-item">
        <ul class="sub-items" *ngIf="type == 'farmer'">
          <li>
            <a
              class="nav-link"
              routerLink="/admin/farmer/farms"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>
                المزارع
              </span>
            </a>
          </li>

          <li>
            <a
              class="nav-link"
              routerLink="/admin/farmer/farmedTypes"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>
                المحصول
              </span>
            </a>
          </li>

          <li>
            <a
              class="nav-link"
              routerLink="/admin/farmer/acidity_types"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>
                أنواع الحموضة
              </span>
            </a>
          </li>
          <li>
            <a
              class="nav-link"
              routerLink="/admin/farmer/FarmingWays"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>

                طرق الزراعة
              </span>
            </a>
          </li>
          <li>
            <a
              class="nav-link"
              routerLink="/admin/farmer/plant_pot"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>
                أحجام الأصيص
              </span>
            </a>
          </li>
          <li>
            <a
              class="nav-link"
              routerLink="/admin/farmer/FarmingMethods"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>

                اساليب الزراعة
              </span>
            </a>
          </li>

          <li>
            <a
              class="nav-link"
              routerLink="/admin/farmer/IrrigationMethods"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>

                طرق الري
              </span>
            </a>
          </li>

          <li>
            <a
              class="nav-link"
              routerLink="/admin/farmer/AnimalBreedingPurposes"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>
                أغراض تربية الحيوانات
              </span>
            </a>
          </li>

          <li>
            <a
              class="nav-link"
              routerLink="/admin/farmer/FeedTypes"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>

                انواع الأعلاف
              </span>
            </a>
          </li>

          <li>
            <a
              class="nav-link"
              routerLink="/admin/farmer/TypesSalts"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>

                أنواع الأملاح
              </span>
            </a>
          </li>
          <li>
            <a
              class="nav-link"
              routerLink="/admin/farmer/plant-illuminating-sources"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>
                مصادر إضاءة نبات المنزل
              </span>
            </a>
          </li>
          <li>
            <a
              class="nav-link"
              routerLink="/admin/farmer/SoilTypes"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>
                أنواع التربة
              </span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="toggle('farmed-blog')">
          <span class="icon">
            <i class="fa-regular fa-wheat-awn"></i>
          </span>
          <span
            class="text w-100 d-flex align-items-center justify-content-between"
          >
            معلومات المحاصيل
            <i class="fa-regular fa-chevron-left"></i>
          </span>
        </a>
        <ul class="sub-items" *ngIf="type == 'farmed-blog'">
          <li>
            <a
              class="nav-link"
              routerLink="/admin/farmed-blog/farmed-type-ginfos"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>
                معلومات المحاصيل
              </span>
            </a>
          </li>

          <li>
            <a
              class="nav-link"
              routerLink="/admin/farmed-blog/farmed-type-stages"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>
                مراحل نمو المحاصيل
              </span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="toggle('posts')">
          <span class="icon">
            <i class="fa-sharp fa-solid fa-blog"></i>
          </span>
          <span
            class="text w-100 d-flex align-items-center justify-content-between"
          >
            المنشورات
            <i class="fa-regular fa-chevron-left"></i>
          </span>
        </a>
        <ul class="sub-items" *ngIf="type == 'posts'">
          <li>
            <a
              class="nav-link"
              routerLink="/admin/posts/posts"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>
                المنشورات
              </span>
            </a>
          </li>

          <li>
            <a
              class="nav-link"
              routerLink="/admin/posts/postType"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>
                انواع المنشورات
              </span>
            </a>
          </li>
          <li>
            <a
              class="nav-link"
              routerLink="/admin/posts/postBlocked"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>
                المنشورات المحظوره
              </span>
            </a>
          </li>
          <li>
            <a
              class="nav-link"
              routerLink="/admin/posts/TypeBlocked"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>
                انواع الحظر
              </span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="toggle('Diseases')">
          <span class="icon">
            <i class="fa-regular fa-disease"></i>
          </span>
          <span
            class="text w-100 d-flex align-items-center justify-content-between"
          >
            الامراض
            <i class="fa-regular fa-chevron-left"></i>
          </span>
        </a>
        <ul class="sub-items" *ngIf="type == 'Diseases'">
          <li>
            <a
              class="nav-link"
              routerLink="/admin/Diseases/indexDiseases"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>
                الامراض
              </span>
            </a>
          </li>

          <li>
            <a
              class="nav-link"
              routerLink="/admin/Diseases/InfectionRates"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>
                معدل الاصابة
              </span>
            </a>
          </li>
          <li>
            <a
              class="nav-link"
              routerLink="/admin/Diseases/diseaseRegistrations"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>
                تسجيلات المرض
              </span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          [routerLink]="['/admin/task-type']"
          routerLinkActive="router-link-active"
        >
          <span class="icon">
            <i class="fa-duotone fa-list-check"></i>
          </span>
          <span class="text">انواع المهام</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          [routerLink]="['/admin/measuring-units']"
          routerLinkActive="router-link-active"
        >
          <span class="icon">
            <i class="fa-light fa-ruler"></i>
          </span>
          <span class="text">وحدات القياس</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="toggle('Product')">
          <span class="icon d-flex">
            <i class="fa-brands fa-product-hunt"></i>
          </span>
          <span
            class="text w-100 d-flex align-items-center justify-content-between"
          >
            المنتجات
            <i class="fa-regular fa-chevron-left"></i>
          </span>
        </a>
        <ul class="sub-items" *ngIf="type == 'Product'">
          <li>
            <a
              class="nav-link"
              routerLink="/admin/Product/Products"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>
                المنتجات
              </span>
            </a>
          </li>

          <li>
            <a
              class="nav-link"
              routerLink="/admin/Product/cities"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>
                المدن
              </span>
            </a>
          </li>
          <li>
            <a
              class="nav-link"
              routerLink="/admin/Product/zones"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>
                المناطق
              </span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          [routerLink]="['/admin/jobs']"
          routerLinkActive="router-link-active"
        >
          <span class="icon">
            <i class="fa-thin fa-user-doctor"></i>
          </span>
          <span class="text">الوظائف</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          [routerLink]="['/admin/Business/IndexBusiness']"
          routerLinkActive="router-link-active"
        >
          <span class="icon">
            <i class="fa-light fa-business-time"></i>
          </span>
          <span class="text"> بيزنس</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          [routerLink]="['/admin/Business/WorkField']"
          routerLinkActive="router-link-active"
        >
          <span class="icon">
            <i class="fa-sharp fa-solid fa-briefcase"></i>
          </span>
          <span class="text"> مجال العمل</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          [routerLink]="['/admin/acs']"
          routerLinkActive="router-link-active"
        >
          <span class="icon">
            <i class="fa-light fa-recycle"></i>
          </span>
          <span class="text">المواد الفعاله</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          [routerLink]="['/admin/insecticides']"
          routerLinkActive="router-link-active"
        >
          <span class="icon">
            <i class="fa-light fa-bug"></i>
          </span>
          <span class="text">المبيدات الحشريه </span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="toggle('pathogen')">
          <span class="icon">
            <i class="fa-duotone fa-waveform-lines"></i>
          </span>
          <span
            class="text w-100 d-flex align-items-center justify-content-between"
          >
            مسببات المرض
            <i class="fa-regular fa-chevron-left"></i>
          </span>
        </a>
        <ul class="sub-items" *ngIf="type == 'pathogen'">
          <li>
            <a
              class="nav-link"
              routerLink="/admin/pathogen"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>
                مسببات المرض
              </span>
            </a>
          </li>

          <li>
            <a
              class="nav-link"
              routerLink="/admin/pathogen-types"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>
                نوع الكائن الممرض
              </span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="toggle('reports')">
          <span class="icon">
            <i class="fa-thin fa-flag"></i>
          </span>
          <span
            class="text d-flex align-items-center justify-content-between w-100"
          >
            التقارير
            <i class="fa-regular fa-chevron-left"></i>
          </span>
        </a>
        <ul class="sub-items" *ngIf="type == 'reports'">
          <li>
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLink]="['/admin/reports']"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>
                التقارير
              </span>
            </a>
          </li>
          <li>
            <a
              class="nav-link"
              routerLink="/admin/reports-types"
              routerLinkActive="router-link-active"
            >
              <span class="text">
                <span>-</span>
                انواع التقارير
              </span>
            </a>
          </li>
        </ul>
      </li>
      <li (click)="logOut()" class="nav-item">
        <button class="nav-link logout" type="button">
          <span class="icon">
            <svg
              width="21"
              height="20"
              viewBox="0
                                                                    0
                                                                    21
                                                                    20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11.532
                                                                      14.5832C11.0619
                                                                      14.5832
                                                                      10.6809
                                                                      14.9563
                                                                      10.6809
                                                                      15.4165V17.4998C10.6809
                                                                      17.73
                                                                      10.4904
                                                                      17.9165
                                                                      10.2554
                                                                      17.9165H2.17026C1.93525
                                                                      17.9165
                                                                      1.74473
                                                                      17.73
                                                                      1.74473
                                                                      17.4998V2.49984C1.74473
                                                                      2.26972
                                                                      1.93525
                                                                      2.08317
                                                                      2.17026
                                                                      2.08317H10.2554C10.4904
                                                                      2.08317
                                                                      10.6809
                                                                      2.26972
                                                                      10.6809
                                                                      2.49984V4.58317C10.6809
                                                                      5.04341
                                                                      11.0619
                                                                      5.4165
                                                                      11.532
                                                                      5.4165C12.002
                                                                      5.4165
                                                                      12.383
                                                                      5.04341
                                                                      12.383
                                                                      4.58317V2.08317C12.383
                                                                      1.1627
                                                                      11.621
                                                                      0.416504
                                                                      10.6809
                                                                      0.416504H1.74473C0.804671
                                                                      0.416504
                                                                      0.0426025
                                                                      1.1627
                                                                      0.0426025
                                                                      2.08317V17.9165C0.0426025
                                                                      18.837
                                                                      0.804671
                                                                      19.5832
                                                                      1.74473
                                                                      19.5832H10.6809C11.621
                                                                      19.5832
                                                                      12.383
                                                                      18.837
                                                                      12.383
                                                                      17.9165V15.4165C12.383
                                                                      14.9563
                                                                      12.002
                                                                      14.5832
                                                                      11.532
                                                                      14.5832Z"
                fill="#fff"
              ></path>
              <path
                d="M20.0895
                                                                        9.72395L14.9831
                                                                        6.39061C14.7221
                                                                        6.22009
                                                                        14.3864
                                                                        6.20404
                                                                        14.1096
                                                                        6.34886C13.8329
                                                                        6.49367
                                                                        13.6599
                                                                        6.77586
                                                                        13.6597
                                                                        7.08311V9.16645H6.00011C5.54402
                                                                        9.16645
                                                                        5.12258
                                                                        9.4047
                                                                        4.89454
                                                                        9.79145C4.6665
                                                                        10.1782
                                                                        4.6665
                                                                        10.6547
                                                                        4.89454
                                                                        11.0414C5.12258
                                                                        11.4282
                                                                        5.54402
                                                                        11.6664
                                                                        6.00011
                                                                        11.6664H13.6597V13.7498C13.6661
                                                                        14.2074
                                                                        14.0434
                                                                        14.5768
                                                                        14.5107
                                                                        14.5831C14.6789
                                                                        14.5832
                                                                        14.8432
                                                                        14.5344
                                                                        14.9831
                                                                        14.4431L20.0895
                                                                        11.1098C20.3262
                                                                        10.9552
                                                                        20.4684
                                                                        10.695
                                                                        20.4684
                                                                        10.4164C20.4684
                                                                        10.1378
                                                                        20.3262
                                                                        9.87768
                                                                        20.0895
                                                                        9.72311V9.72395Z"
                fill="#fff"
              ></path>
            </svg>
          </span>
          <span class="text">تسجيل الخروج</span>
        </button>
      </li>
    </ul>
  </div>
  <!-- End content -->
</aside>
