<div class="px-20 card-wrap">
    <!-- <app-head-nav></app-head-nav> -->
    <div class="card-custom">
        <div class="card-head">
            <h2 class="title">

                {{!isEdit?'اضافه' : ' تعديل '}} مشرف
            </h2>
        </div>
        <div class="card-content">
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-6 mb-5">
                        <input
                            type="text"
                            placeholder="الاسم"
                            formControlName="name">
                        <div
                            class="error-msg"
                            *ngIf="form.controls['name'].touched || isSubmit">
                            <div
                                *ngIf="form.controls['name'].hasError('required')">{{"must_required"
                                | translate}}</div>


                        </div>
                    </div>

                    <div class="col-6 mb-5">
                        <input
                            type="text"
                            placeholder="العرض"
                            formControlName="display_name">
                        <div
                            class="error-msg"
                            *ngIf="form.controls['display_name'].touched ||
                            isSubmit">
                            <div
                                *ngIf="form.controls['display_name'].hasError('required')">{{"must_required"
                                | translate}}</div>




                        </div>
                    </div>
                    <div class="col-6 mb-5">
                        <input
                            type="text"
                            placeholder="الوصف"
                            formControlName="description">
                        <div
                            class="error-msg"
                            *ngIf="form.controls['description'].touched ||
                            isSubmit">
                            <div
                                *ngIf="form.controls['description'].hasError('required')">{{"must_required"
                                | translate}}</div>
                        </div>
                    </div>



                </div>
                <div class="actions mt-5">
                    <app-spinner *ngIf="loading"></app-spinner>
                    <button
                        class="main-btn"
                        *ngIf="!loading"
                        (click)="sendData()">
                        حفظ
                    </button>
                    <button
                        class="tr-btn mx-3"
                        *ngIf="!loading"
                        (click)="goBack()">
                        الغاء
                    </button>
                </div>
            </form>


        </div>
    </div>
</div>
