.deleteItem{
    position: absolute;
    top: 0px;
    height: 40px;
    background-color: rgba(255, 0, 0, 0.505);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    inset-inline-end: 20px;
    display: inline-block;
    width: 40px;
    border: none !important;
    color: #fff;
    cursor: pointer;
}
.card-content{
    position: relative;

}
.not-found{
    font-size: 25px;
    height: 250px;
    display: flex;
    align-items: center;
    width: 100% !important;
    justify-content: center;
    background-color: #e7e7e7;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}