.pages-head {
    background: linear-gradient(88.98deg, #036362 -10.61%, #67ac5b 108.81%);
    padding: 30px;
    margin-bottom: 50px;
    margin-right: -37px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: calc(100vw - 290px);
    z-index: 999;
    h2 {
        font-family: "Cairo-Medium";
        margin: 0;
    }
}
.user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-inline-end: 20px;
}
