.bg-white {
    padding: 0 40px;
    .col {
        border-bottom: 1px solid #c6c1c1;
        padding-bottom: 30px;
        span,
        img,
        a {
            border: 1px solid #c6c1c1;
            margin-top: 20px;
            display: flex;
            padding: 10px;
            justify-content: center;
            align-items: center;
            color: #000;
        }
    }
}
