<div class="px-20 card-wrap">
  <!-- <app-head-nav></app-head-nav> -->
  <div class="card-custom">
    <div class="card-head">
      <h2 class="title">تفاصيل المنشور</h2>
    </div>
    <div class="card-content">
      <div class="d-flex align-items-center justify-content-between">
        <div>
          <h1 class="mb-3">الناشر : {{ detailsData?.author?.name }}</h1>
          <span> الوظيفه : {{ detailsData.author?.job_name.ar }} </span>
          <div>
            <span> البريد الالكتروني : {{ detailsData.author?.email }} </span>
          </div>
          <div *ngIf="detailsData.author?.mobile">
            <span> هاتف صاحب المنشور: {{ detailsData.author?.mobile  }} </span>
          </div>
        </div>
        <div>
          <button
            class="menu--item"
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example
                            icon-button with a
                            menu"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="42"
              height="42"
              viewBox="0 0 42 42"
              fill="none"
            >
              <g id="action">
                <rect
                  id="Rectangle"
                  width="42"
                  height="42"
                  rx="2"
                  fill="#F2F2F2"
                />
                <g id="ellipsis-v-regular copy 2">
                  <path
                    id="Shape"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M19 13.4C19 14.725 20.075
                                                15.8 21.4 15.8C22.725 15.8
                                                23.8 14.725 23.8 13.4C23.8
                                                12.075 22.725 11 21.4
                                                11C20.075 11 19 12.075 19
                                                13.4ZM21.4 18.6C22.725 18.6
                                                23.8 19.675 23.8 21C23.8 22.325
                                                22.725 23.4 21.4
                                                23.4C20.075 23.4 19 22.325 19
                                                21C19 19.675 20.075 18.6
                                                21.4 18.6ZM21.4 31C20.075 31 19
                                                29.925 19 28.6C19 27.275
                                                20.075 26.2 21.4 26.2C22.725
                                                26.2 23.8 27.275 23.8
                                                28.6C23.8 29.925 22.725 31 21.4
                                                31Z"
                    fill="black"
                  />
                </g>
              </g>
            </svg>
          </button>
          <mat-menu #menu="matMenu">
            <a mat-menu-item (click)="block()">
              <span> <i class="fa-light fa-ban"></i>
              {{detailsData.status=='blocked'?'تنشيط ':'حظر'}}  
                 
              
              </span>
            </a>
            <button mat-menu-item (click)="togglePopup()">
              <span><i class="fa-regular fa-circle-info"></i> ابلاغ </span>
            </button>
          </mat-menu>
        </div>
      </div>
   
      <div class="post-content">
        <div class="mb-10">
          محتوى المنشور
        </div>
        {{ detailsData.content }}
      </div>
      <div class="col-md-4 mb-5" *ngIf="detailsData.image_assets?.length != 0">
        <div class="list-item">
          <h2 class="title">الصور</h2>
          <div class="assets grid-6 grid-gaps-10" *ngFor="let item of detailsData.image_assets">
            <div >
              <img [src]="item" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5" *ngIf="detailsData?.video_assets?.length != 0">
        <div class="list-item">
          <h2 class="title">الفيدوهات</h2>
          <div class="assets grid-6 grid-gaps-10" *ngFor="let item of detailsData.video_assets">
            <video width="320" height="240" controls>
              <source [src]="item" type="video/mp4">
              <source [src]="item" type="video/ogg">
            </video>
          </div>
        </div>
      </div>
      <div class="mb-4" >
     
   
      </div>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div
                class="d-flex justify-content-between align-items-center w-100"
              >
                <h2>التعليقات</h2>
                <div>
                  {{ detailsData.comments_count }}
                  <i class="fa-regular fa-comment"></i>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div *ngFor="let item of detailsData?.comments">
            <div class="d-flex align-items-center mb-5">
              <div class="img">
                <img [src]="item.commenter?.photo_url" alt="" />
              </div>
              <div class="img" *ngIf="item.commenter.photo_url == null">
                <img src="https://via.placeholder.com/150" alt="" />
              </div>
              <div
                class="commenter-details d-flex align-items-center justify-content-between w-100"
              >
                <div>
                  <h2>
                    {{ item.commenter.name }}
                  </h2>
                  <span>
                    {{ item.commenter.email }}
                  </span>
                </div>

                <div>
                  <p class="mb-0">
                    {{ item.created_at }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="detailsData.comments?.length == 0">
            <p>لا يوجد تعليقات</p>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div
                class="d-flex justify-content-between align-items-center w-100"
              >
                <h2>الاعجابات</h2>
                <div>
                  {{ detailsData.likers_count }}
                  <i class="fa-regular fa-thumbs-up"></i>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngIf="detailsData.likers_count == 0">
            <p>لا يوجد بيانات</p>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div
                class="d-flex justify-content-between align-items-center w-100"
              >
                <h2>لم يعجب</h2>
                <div>
                  {{ detailsData.dislikers_count }}
                  <i class="fa-regular fa-thumbs-down"></i>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngIf="detailsData.dislikers_count == 0">
            <p>لا يوجد بيانات</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>

<div
  class="report-overlay"
  [ngClass]="{ 'show-popup': expression }"
  (click)="togglePopup()"
></div>

<div class="report-popup" [ngClass]="{ 'show-popup': expression }">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="mb-0">ابلاغ</h2>
    <i class="fa fa-close" (click)="togglePopup()"></i>
  </div>

  <form [formGroup]="reportForm">
    <div class="mb-5">
      <select class="select-ground" formControlName="report_type_id">
        <option value="">نوع الابلاغ</option>
        <option [value]="item.id" *ngFor="let item of reportTypes">
          {{ item.name.ar }}
        </option>
      </select>
    </div>
    <div class="mb-5">
      <input type="text" placeholder="الوصف" formControlName="description" />
    </div>
    <div class="actions d-flex justify-content-center w-100">
      <button class="main-btn" (click)="report()">حفظ</button>
    </div>
  </form>
</div>
