<div class="d-flex">
    <div>
        <app-side-nav></app-side-nav>
    
    </div>
    <div class="main-content">
        <app-pages-head></app-pages-head>

             <ng-content></ng-content>
        <!-- <app-head-nav></app-head-nav>
        <div class="px-20 card-wrap">

            <div class="card-custom">
                <div class="card-head">
                    <h2 class="title">
                        dsdsd
                    </h2>
                </div>
                <div class="card-content">
                    <div class ="list-item">

                        <h2 class="title">dsdsdsd</h2>
                        <span class="desc">dsddd</span>
                    </div>
                    <app-forms></app-forms>
                    <app-spinner></app-spinner>
          
                </div>                
            </div>
        </div>
  -->
  
    </div>
    

</div>