<div class="px-20 card-wrap">
  <div class="bread-crumd">
    <a [routerLink]="['/admin/farmer/farmedTypes']"> المحصول </a>
    <strong> <i class="fa-regular fa-chevrons-left"></i> </strong>
    <a [routerLink]="['/admin/farmer/farmedTypes/farmed_type_extras', ids]">
      معلومات اضافيه
    </a>
    <strong> <i class="fa-regular fa-chevrons-left"></i> </strong>
    <span> {{ !isEdit ? "اضافه" : " تعديل " }} بيانات اضافيه</span>
  </div>
  <div class="card-custom">
    <div class="card-head">
      <h2 class="title">{{ !isEdit ? "اضافه" : " تعديل " }} بيانات اضافيه</h2>
    </div>
    <div class="card-content">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-6 mb-5">
            <label for="">معدل الري</label>
            <select formControlName="irrigation_rate_id">
              <option value="">معدل الري</option>
              <option [value]="item.id" *ngFor="let item of irrigationRates">
                {{ item.name }}
              </option>
            </select>
            <div
              class="error-msg"
              *ngIf="form.controls['irrigation_rate_id'].touched || isSubmit"
            >
              <div
                *ngIf="form.controls['irrigation_rate_id'].hasError('required')"
              >
                {{ "must_required" | translate }}
              </div>
            </div>
          </div>

          <div class="col-6 mb-5">
            <label for="">أنواع البذور</label>
            <select formControlName="seedling_type">
              <option value="">أنواع البذور</option>
              <option [value]="item.value" *ngFor="let item of seedlingTypes">
                {{ item.name }}
              </option>
            </select>
            <div
              class="error-msg"
              *ngIf="form.controls['seedling_type'].touched || isSubmit"
            >
              <div *ngIf="form.controls['seedling_type'].hasError('required')">
                {{ "must_required" | translate }}
              </div>
            </div>
          </div>

          <div class="col-6 mb-5">
            <label for=""> الاسم العلمي </label>
            <input
              type="text"
              placeholder="الاسم العلمي"
              formControlName="scientific_name"
            />
            <div
              class="error-msg"
              *ngIf="form.controls['scientific_name'].touched || isSubmit"
            >
              <div
                *ngIf="form.controls['scientific_name'].hasError('required')"
              >
                {{ "must_required" | translate }}
              </div>
            </div>
          </div>

          <div class="col-6 mb-5">
            <label for=""> تاريخ المحصول </label>
            <input
              type="text"
              placeholder=" تاريخ المحصول"
              formControlName="history"
            />
            <div
              class="error-msg"
              *ngIf="form.controls['history'].touched || isSubmit"
            >
              <div *ngIf="form.controls['history'].hasError('required')">
                {{ "must_required" | translate }}
              </div>
            </div>
          </div>

          <div class="col-6 mb-5">
            <label for=""> الشركة المصنعة </label>
            <input
              type="text"
              placeholder=" الشركة المصنعة"
              formControlName="producer"
            />
            <div
              class="error-msg"
              *ngIf="form.controls['producer'].touched || isSubmit"
            >
              <div *ngIf="form.controls['producer'].hasError('required')">
                {{ "must_required" | translate }}
              </div>
            </div>
          </div>

          <div class="col-6 mb-5">
            <label for="">الوصف</label>
            <input
              type="text"
              placeholder="  الوصف"
              formControlName="description"
            />
            <div
              class="error-msg"
              *ngIf="form.controls['description'].touched || isSubmit"
            >
              <div *ngIf="form.controls['description'].hasError('required')">
                {{ "must_required" | translate }}
              </div>
            </div>
          </div>

          <div class="col-6 mb-5">
            <label for=""> ساعات البرودة </label>
            <input
              type="number"
              placeholder="  ساعات البرودة"
              formControlName="cold_hours"
            />
            <div
              class="error-msg"
              *ngIf="form.controls['cold_hours'].touched || isSubmit"
            >
              <div *ngIf="form.controls['cold_hours'].hasError('required')">
                {{ "must_required" | translate }}
              </div>
            </div>
          </div>

          <div class="col-6 mb-5">
            <label for=""> ساعات الإضاءة </label>
            <input
              type="number"
              placeholder="   ساعات الإضاءة"
              formControlName="illumination_hours"
            />
            <div
              class="error-msg"
              *ngIf="form.controls['illumination_hours'].touched || isSubmit"
            >
              <div
                *ngIf="form.controls['illumination_hours'].hasError('required')"
              >
                {{ "must_required" | translate }}
              </div>
            </div>
          </div>

          <div class="col-6 mb-5">
            <label for=""> معدل البذور في الفدان </label>
            <input
              type="text"
              placeholder="    معدل البذور في الفدان"
              formControlName="seeds_rate"
            />
            <div
              class="error-msg"
              *ngIf="form.controls['seeds_rate'].touched || isSubmit"
            >
              <div *ngIf="form.controls['seeds_rate'].hasError('required')">
                {{ "must_required" | translate }}
              </div>
            </div>
          </div>

          <div class="col-6 mb-5">
            <label for=""> معدل الإنتاج </label>
            <input
              type="number"
              placeholder="  معدل الإنتاج  "
              formControlName="production_rate"
            />
            <div
              class="error-msg"
              *ngIf="form.controls['production_rate'].touched || isSubmit"
            >
              <div
                *ngIf="form.controls['production_rate'].hasError('required')"
              >
                {{ "must_required" | translate }}
              </div>
            </div>
          </div>
        </div>

        <div class="actions mt-5">
          <app-spinner *ngIf="loading"></app-spinner>
          <button class="main-btn" *ngIf="!loading" (click)="sendData()">
            حفظ
          </button>
          <button class="tr-btn mx-3" *ngIf="!loading" (click)="goBack()">
            الغاء
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
