<div class="px-20 card-wrap">
  <!-- <app-head-nav></app-head-nav> -->
  <div class="card-custom">
    <div class="card-head">
      <h2 class="title">ضبط خلفيه الطقس</h2>
    </div>
    <div class="card-content">
      <img [src]="fileName" alt="" style="max-width: 200px" />
      <form [formGroup]="form">
        <div class="">
          <label for="apply" class="w-100"
            ><input
              type="file"
              name=""
              id="apply"
              accept="image/png , image/jpeg, webp"
              (change)="changeFile($event)"
            />
          </label>
          <div class="error-msg" *ngIf="file == null && isSubmit && !isEdit">
            <div *ngIf="file == null">{{ "must_required" | translate }}</div>
          </div>
        </div>
        <div class="actions mt-5">
          <app-spinner *ngIf="loading"></app-spinner>
          <button class="main-btn" *ngIf="!loading" (click)="sendData()">
            حفظ
          </button>
          <button class="tr-btn mx-3" *ngIf="!loading" (click)="goBack()">
            الغاء
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
