/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/app.scss";
@import "./assets/styles/index.scss";
button.menu--item{
    all: unset;
    cursor: pointer;
}
.ngx-input-star-rating__full{
    svg{
        fill:gold !important;
    }
}
.img-assets{
    width: 100px;
    height: 60px;
    object-fit: contain;
    border-radius: 4px;
}