<div class="bg-container mb-50">
    <div>
        <label>
            عنوان الحقل
        </label>
        <input type="text" placeholder="بحث" name="" id="">
        <div class="error-msg">
            ايرور الحقل
        </div>
    </div>
    <div class="filter-container">
        <div class="grid-12">
            <div class="search-input">
                <input type="text" class="search-ground" placeholder="بحث"
                    name="" id="">

            </div>
            <div>

            </div>
            <div class="select-value">
                <span>
                    التصنيف
                </span>
                <div class="position-relative">
                    <select name="" id="" class="select-ground">
                        <option value="" selected> الكل</option>
                    </select>
                </div>
            </div>
            <div class="date-picker">
                <span>
                    التاريخ
                </span>
                <input type="text"
                    class="calender-ground" />
            </div>
        </div>
    </div>
